.aboutcss{
    /* background-color: hsl(219, 48%, 8%); */
    margin: 50px 100px;
    /* border: solid red 2px; */
    height: fit-content;
}
/* .heading{
    padding-top: 2vw;
    font-size: xx-large;
    color: aqua;
    text-align: center;

} */
.section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.carousel{
    padding-left: 110px;
    justify-content: space-evenly;
    width: 60vw;
    padding-top: 5vw;
    /* border:solid blue 5px; */
    margin: auto;
    margin-top: 1vw;
}

.CarouselImage{
    height: 25vw;
    width: 50vw;
    margin: auto;
}
.content{
    /* border: solid aqua 3px; */
    width: 60vw;
    margin: auto;
    height: 20vw;
}
.content > h2{
    /* color: aqua; */
    text-align: center;
    margin-bottom: 3vw;
}
.content > p{
    color: rgb(36, 72, 86);
    margin-top: 1vw;
    font-size: larger;
    text-align: justify;
}
.buttonhai{
    color: white;
    background-color: hsl(219, 48%, 8%);
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    width: 9vw;
    height: 3vw;
    /* margin-top: 3vw; */
    margin-left: 25vw;
    margin-bottom: 3vw;

}